#scrollbox {
  width:650px;
  height:650px;
  line-height:1em;
  overflow:scroll;
  padding:1px;
  margin-top: -50px;
  margin-left: 600px;
}
/*
.vis.timeline .pitchStyle {
  color: blue;
  fill: #f23303;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #ff0004;
}


.vis.timeline .rollStyle {
  color: red;
  fill: #0df200;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #0df200;
}

.vis.timeline .yawStyle {
  color: yellow;
  fill: #f23103;
  fill-opacity:0;
  stroke-width:2px;
  stroke: #ff0004;
}*/
